/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  height: 80vh;
  background-color: gray;
}

.custom-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swipe {
  position: absolute;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 90vw;
  max-width: 300px;
  height: 600px;
}

.card {
  position: relative;
  /* background-color: #fff; */
  width: 80vw;
  max-width: 260px;
  height: 400px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}